/* src/App.css */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
.App {
    text-align: center;
  }
  
  .App-header {
    background-color: #3bd66a;
    font-family: "Exo", serif;
  font-optical-sizing: auto;
  font-style: normal;
    padding: 10px;
    color: rgb(255, 255, 255);
  }
  
  .login-container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    font-size: 14px;
    text-align: left;
    margin-bottom: 5px;
    display: block;
  }
  
  input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="email"], input[type="password"] {
    margin-bottom: 10px;
  }
  
  button {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:disabled {
    background-color: #ccc;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
  }
  
  .signup-link {
    margin-top: 20px;
  }
  
  footer {
    padding: 1px;
    background-color: #f1f1f1;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  